.option {
    background-color: #018d7a;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.65;
    transition: 0.5s;
}

.option:hover {
    opacity: 1;
}

#options-container .option p{
    margin-bottom: 0;
}

.correct {
    background-color: #0bfc03;
    font-weight: bold
}

.wrong {
    background-color: #3c0e70;
    opacity: 0.4;
}